@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap');

body * {
    font-family: 'syne' !important;
}

/********** HEADER **********/
.header-titles {
    width: 45% !important;
}

.entry-header {
    background-color: #ECE2DA !important;
    padding: 2.5em 0 0 0 !important;
}

h1 {
    margin: auto !important;
    color: #3B8E46;
    font-size: 1.7em !important;
    max-width: 610px !important;
}

li.menu-item a {
    color: #000000 !important;
    font-size: 1.2em;
    padding: 15px;
}
 
 li.menu-item a:hover,
 li.menu-item.current-menu-item a {
    color: #FFFFFF !important;
    background-color: #DC9F96;
    text-decoration: none;
}

/********** FOOTER **********/
footer a {
    color: black;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
}

/********** CONTENT **********/
section:not(.waste), .meetUs { /*********** Première Section: Page Accueil et Nous Rencontrer **********/
    border-radius: 33% 33% 30% 30% / 0% 0% 10% 10%  !important;
}

section:not(.waste) {
    margin-bottom: 2em !important;
    box-shadow: 0 5px 0 #e3d9d0;
    z-index: -2;
    padding: 0 !important;
}

.box { /********** Contenu englobant img cannette **********/
    display: block !important;
    align-items: center !important;
    margin-top: 0 !important ;
    padding-top: 0 !important;
}

.qodef-m-images { /********** Img canette **********/
    display: flex !important;
    justify-content: center !important;
}

.wp-image-83, .wp-image-82 {
    width: 400px !important;
    height: 270px !important;
    object-fit: contain;
    transform: none !important;
    -webkit-transform: none !important;
}

.waste { /********** Section des goûts **********/
    border-radius: 15% 15% 15% 15% / 0% 0% 3% 3%;
    padding: 30px 0 30px 0 !important;
    background-color: #ECE2DA !important;
}

.intitulePam { /********** Text gras blanc pamplemousse **********/
    width: 400px !important;
}

.intituleFram { /********** Text gras blanc pamplemousse **********/
    width: 280px !important;
}

.description {  /********** Espacement lettre des fruits **********/
    letter-spacing: 0.7em;
}

.button {
    display: flex;
    justify-content: center;
}

.qodef-m-text { /*********** Texte commander **********/
    font-size: 22px !important;
    padding: 10px;
}

.button:hover {
    text-decoration: none !important;
}

.waste, .endSection {
    margin-top: 2em !important;
}

.endSection, .description, h1, .wasteTitle strong, .meetUs .title {
    font-weight: 800 !important;
}

.subtitle { /********** Contenu de la dernière section **********/
    width: 330px !important;
    margin-top: 0.2em !important;
    line-height: 1em !important;
}

.text {
    margin: 0 2em !important;
}

.p, .qodef-m-text, li.menu-item a  { 
    font-weight: 400 !important;
}

.title, .formTitle { /********** Prénom dernière section **********/  /**** Titre nous contacter *******/
    font-weight: 700 !important;
    padding-top: 1em !important;
}

/********** Masquer contenu Edit **********/
.entry-content > .alignfull:not(.wp-block-group.has-background), footer {
    margin :0 !important;
}
.post-meta-wrapper {
    display: none;
}

/********** PAGE NOUS RENCONTRER **********/
.post-35 .entry-title { 
    display: none;
}

.post-35 .entry-header {
    padding: 0 !important;
}

.meetUs .p, .meetUs .title {
    max-width: 750px !important;
}

.meetUs .title {
    padding-top: 3em !important;
    font-size: 2em !important;
}

.meetUs .p {
    margin-top: 1.3em !important;
}

.meetUs .alignleft { /********** Placement Image Fleur: Page Commander **********/
    margin: 0 5% 0 0 !important;
}

.teamSection {
    max-width: 100%;
}

.imgContent {
    display: flex;
    justify-content: end;
    position: absolute;
    right: -3em !important;
    bottom: -20.5em !important;
}

.formSection {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    background-color: #ECE2DA !important;
    z-index: 1 !important;
    position: relative;
}

.banner {
    background-color: #ECE2DA;
}

.wpcf7 {
    width: 500px;
    margin: auto;
}

label {
    margin: 1em 0;
}

.formSection .button {
    width: 250px !important;
}

textarea {
    height: 300px;
}

input, textarea {
    margin-top: 1em !important;
}

.imageContent {
    position: absolute;
    bottom: 3em;
    left: 22em;
    z-index: -1 !important;
}